<p id="notice"><%= notice %></p>

<h1>Asruns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asruns.each do |asrun| %>
      <tr>
        <td><%= asrun.name %></td>
        <td><%= link_to 'Show', asrun %></td>
        <td><%= link_to 'Edit', edit_asrun_path(asrun) %></td>
        <td><%= link_to 'Destroy', asrun, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asrun', new_asrun_path %>
