<% if !flash[:notice].blank? %>
  <div class = "alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>

<br />

<div id="new">
  <%= render 'new' %>
</div>

<br />

<table class = "table table-bordered table-striped">
  <thead>.
  <tr>
    <th>Name</th>
<!--    <th>Download Link</th>-->
    <th> </th>
  </tr>
  </thead>

  <tbody>
  <% @as_runs.each do |as_run| %>

    <tr>
      <td><%= as_run.name %></td>
<!--      <td><%#= link_to "Download as_run", as_run.attachment_url %></td>-->
      <td>
        <%= link_to "Open Log", show_logs_path(as_run.id), method: :get, class: "btn btn-info btn-sm" %>
        <%= link_to "Export", export_excel_path(as_run.id), method: :get, class: "btn btn-info btn-sm" %>
        <%= link_to "Delete", as_run, method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Are you sure that you wish to delete #{as_run.name}?" } %>
      </td>
    </tr>

  <% end %>
  </tbody>

</table>