<!--<h1>New As Run</h1>-->

<%#= render 'form', as_run: @as_run %>

<%#= link_to 'Back', as_runs_path %>


<% if !@as_run.errors.empty? %>
  <div class="alert alert-error" xmlns="http://www.w3.org/1999/html">

    <ul>
      <% @as_run.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class = "well">
  <%= form_for @as_run, html: { multipart: true } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br><br>
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
    <br>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>