<p id="notice"><%= notice %></p>

<p>
  <strong>C1:</strong>
  <%= @log.c1 %>
</p>

<p>
  <strong>C2:</strong>
  <%= @log.c2 %>
</p>

<p>
  <strong>C3:</strong>
  <%= @log.c3 %>
</p>

<p>
  <strong>C4:</strong>
  <%= @log.c4 %>
</p>

<p>
  <strong>C5:</strong>
  <%= @log.c5 %>
</p>

<p>
  <strong>C6:</strong>
  <%= @log.c6 %>
</p>

<p>
  <strong>C7:</strong>
  <%= @log.c7 %>
</p>

<p>
  <strong>C8:</strong>
  <%= @log.c8 %>
</p>

<p>
  <strong>C9:</strong>
  <%= @log.c9 %>
</p>

<p>
  <strong>C10:</strong>
  <%= @log.c10 %>
</p>

<p>
  <strong>C11:</strong>
  <%= @log.c11 %>
</p>

<p>
  <strong>C12:</strong>
  <%= @log.c12 %>
</p>

<p>
  <strong>C13:</strong>
  <%= @log.c13 %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
